@using App.Entities.Concrete
@model List<PostImage>


<div class="row">
    <h5>Yayımlanan Postlar</h5>
    @for (int i = 0; i < Math.Min(Model.Count, 3); i++)
    {
        var item = Model[i];
        <div class="col-sm-4 stretch-card grid-margin">
            <div class="card">
                <div class="card-body p-0">
                    <img class="img-fluid w-100" src="~/postimages/@item.ImagePath" alt="" />
                </div>
                <div class="card-body px-3 text-dark">
                    <div class="d-flex justify-content-between">
                        <h5 class="font-weight-semibold">@item.Post.Title</h5>
                        <i class="mdi mdi-heart-outline"></i>
                    </div>
                    <p class="text-muted font-13 mb-0">@item.Post.Content</p>
                    <div class="d-flex justify-content-between font-weight-semibold">
                        <p class="mb-0">
                            <i class="mdi mdi-star star-color pe-1"></i> 4
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
