
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item nav-profile border-bottom">
		</li>
		<li class="nav-item pt-3">
			<a class="nav-link d-block" href="../../index.html">
				<img class="sidebar-brand-logo" src="~/Admin/template/assets/images/logo.svg" alt="" />
				<img class="sidebar-brand-logomini" src=".~/Admin/template/assets/images/logo-mini.svg" alt="" />
				<div class="small font-weight-light pt-1"></div>
			</a>
		</li>
		<li class="pt-2 pb-1">
			<span class="nav-item-head">Admin Paneli Sayfaları</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="~/Admin/Dashboard/Index">
				<i class="mdi mdi-compass-outline menu-icon"></i>
				<span class="menu-title">Anasayfa</span>
			</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" href="~/Admin/Blog/Index">
				<i class="mdi mdi-bike menu-icon"></i>
				<span class="menu-title">İçerik Yönetimi</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="~/Admin/Comment/Index">
				<i class="mdi mdi-comment-text-outline menu-icon"></i>
				<span class="menu-title">Yorum Yönetimi</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="~/Admin/User/Index">
				<i class="mdi mdi-at menu-icon"></i>
				<span class="menu-title">Kullanıcı Yönetimi</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="~/Admin/Category/Index">
				<i class="mdi mdi-cellphone-link menu-icon"></i>
				<span class="menu-title">Kategori Yönetimi</span>
			</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" href="~/Admin/Page/Index">
				<i class="mdi mdi-file-document-box menu-icon"></i>
				<span class="menu-title">Sayfa Yönetimi</span>
			</a>
		</li>
	</ul>
</nav>